.icon-container {
    position: fixed;
    z-index: 1;
    font-size: 1.9em;
    background-color: darkgray;
    border: none;
    border-radius: 50%;
    padding: 18px;
    bottom: 25px;
    right: 25px;
}

.counter {
    position: fixed;
    font-size: 12px;
    background-color: red;
    border-radius: 20%;
    padding: 5px;
    bottom: 25px;
    right: 25px;
}

.expand-cart {
    position: fixed;
    background-color: white;
    width: 600px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    overflow: scroll;
}