.CategoryButton {
    border-radius: 20px;
    margin-left: 30px;
    margin-right: 30px;
    width: 100px;
    border: none;
    background-color: #e8e8e8;
    cursor: pointer;
}

.IconContainer {
    text-align: center;
    padding: 20px;
    border-radius: 50%;
    transition-duration: 0.2s;
    color: #411557;
    font-size: 2.5em;
}

.CategoryLabel {
    font-family: 'Arvo', serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    padding: 5px;
    color: white;
    transition-duration: 0.2s;
}

.CategoryButton:hover .IconContainer{
    background-color: #411557;
    color: #00beb7;
}
.CategoryButton:hover .CategoryLabel{
    color: #411557;
}

.CategoryButton:focus .IconContainer{
    background-color: #411557;
    color: #00beb7;
}
.CategoryButton:focus .CategoryLabel{
    color: #411557;
}
