.menu-wrapper {
    justify-content: center;
}

.menu-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: teal;
    max-width: 1200px;
}